- page_title _('Jira Issues')

.js-issuables-list{ data: { endpoint: expose_path(project_integrations_jira_issues_path(@project, format: :json)),
  'can-bulk-edit': false,
  'empty-svg-path': image_path('illustrations/issues.svg'),
  'sort-key': @sort,
  type: 'jira',
  project_path: @project.full_path, } }
