- return unless Gitlab.com? && namespace.shared_runners_minutes_limit_enabled?
- minutes_quota = namespace.ci_minutes_quota

.row
  .col-sm-6
    %strong
      = _("Additional minutes")
    %div
      = ci_minutes_report(minutes_quota.purchased_minutes_report)
      minutes
      = link_to icon('question-circle'), help_page_path('subscriptions/index', anchor: 'purchasing-additional-ci-minutes'), target: '_blank', rel: 'noopener noreferrer'
  .col-sm-6.right
    #{minutes_quota.purchased_percent_used}% used
    = ci_minutes_progress_bar(minutes_quota.purchased_percent_used)
